<div class="row">
  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Visits By Day</h3>
    <%= line_chart @visits.group_by_day(:visited_at, format: "%B %d, %Y").count, discrete: true %>
  </div>

  <!-- Line Chart - Multiple Series -->
  <div class="col-xs-6">
    <h3>Visits By Country Per Day</h3>
    <%= line_chart   Visit.pluck("country").uniq.map { |c| { name: c, data: @visits.where(country: c).group_by_day(:visited_at, format: "%B %d, %Y").count }  }, discrete: true %>
  </div>
</div>

<div class="row">

  <div class="col-xs-6">
   <h3>Visits By Country Per Day (Coded differently 1)</h3>
   <%= line_chart @visits.pluck("country").uniq.map { |c| { name: c, data: Visit.where(country: c).group_by_day(:visited_at, format: "%B %d, %Y").count } }, discrete: true %>
  </div>

  <div class="col-xs-6">
   <h3>Visits By Country Per Day (Coded differently 2)</h3>
   <%= line_chart Visit.group(:country).group_by_day(:visited_at, format: "%B %d, %Y").count, discrete: true %>
  </div>
  
</div>

<div class="row">
  <!-- Pie Chart -->
  <div class="col-xs-6">
    <h3>Total Visits by Country</h3>
    <%= pie_chart @visits.group(:country).count %>
  </div>

  <!-- Geo Chart --> 
  <div class="col-xs-6">
    <h3>Visits By Day</h3>
    <%= geo_chart @visits.group(:country).count %>
  </div>

</div>

<div class="row">
  <!-- area chart --> 
  <div class="col-xs-12">
    <h3>Total Load Time By Day</h3>
    <%= area_chart @visits.group_by_day(:visited_at).maximum(:load_time) %>
  </div>
</div>

<div class="row">
  <!-- Column Chart --> 
  <div class="col-xs-6">
    <h3>Total Visits Per Country</h3>
    <%= column_chart @visits.group(:country).count %>
  </div>
  <!-- Bar Chart --> 
  <div class="col-xs-6">
    <h3>Total Visits Per Country</h3>
    <%= bar_chart @visits.group(:country).count %>
  </div>
</div>

<!-- Line Chart - Single Series -->
<div class="col-xs-12">
  <h3>Visits By Day (AJAX Call)</h3>
  <%= line_chart visits_by_day_visit_path %>
</div>

<div class="col-xs-12">
   <h3>Visits By Country Per Day (AJAX Call)</h3>
   <%= line_chart visits_by_country_day_visit_path %>
</div>